body{
    width:100%;
	height:100%;
    font-family:"Montserrat",sans-serif;
    color:white;
    font-size:16px;
    background:#333333;
}
.container{
    height:100%;
    width:100%;
    display:flex;
	flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    padding:30px;
    cursor:default;
}
.card{
    position: relative;
    overflow:hidden;
    width: 26%;
    height: 400px;
    padding: 15px;
    border-radius: 6px;
    background-image: linear-gradient(135deg,#ff677d 10%,#cd6684 100%);
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    transform-style:preserve-3d;
    transform:perspective(1000px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    margin:20px;
}
.img-container{
    height:150px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.shoe{
	transform: translateZ(50px);
    height:150px;
	width:200px;
	position: relative;
    top: 0;
    left: 0;
}
.category{
    transform: translateZ(30px);
    font-weight: bolder;
    font-size: 24px;
    text-shadow: 0 2px 20px rgba(0,0,0,0.5);
    align-items: center;
	height:50px;
    width:160px;
}
.category .sub-head{
    font-size:12px;
    color:rgba(255,255,255,0.35);
    margin-bottom: 2px;
}
.description{
    transform:translateZ(25px);
    text-align: justify;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    font-size:12px;
    width:160px;
}
body a{
    text-decoration: none;
    border: 0;
    outline: 0;
}
.add_to_cart{
    text-decoration: none;
    border: 0;
    outline: 0;
    height: 28px;
    padding: 4px 12px;
    border-radius: 50px;
    box-shadow: 0 2px 20px rgba(0,0,0,0,35);
    transform: translateZ(30px);
    font-size: 16px;
    font-weight: medium;
}
.add_to_cart:hover{
    cursor: pointer;
}
body .js-tilt-glare{
    pointer-events: none;
}
.screen1{
	height:100%;
	position: absolute;
	padding-top: 20px;
}
.left {
	left:0;
	background-color:#191818;
	width:16%;
}
.right {
	right:0;
	width:84%;
	display:flex;
	flex-wrap:wrap;
}
 .filter_text{
      margin:10% 10% 1% 10%;
  }
  .main-nav{
	float:right;
	line-style:none;
	margin-top:20px;
}
.main-nav li{
	display:inline-block;
	margin-left:40px;
}
.main-nav li a:link,
.main-nav li a:visited{
	padding:8px 0px;
	color:#ffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:80%;
	border-bottom:2px solid transparent;
	transition:border-bottom 0.4s;
}
.main-nav li a:hover,
.main-nav li a:active{
	border-bottom:2px solid orange;
}
.nav-bar{
	height:10%;
	width: 99.8%;
	margin-left:-8px;
	margin-top:-8px;
	background-color:#191818;
}
.row{
	max-width:1140px;
	margin:0 auto;
}
.link-p {
display: block;
min-height: 250px;
height: auto;
width: 100%;
max-width: 100%;
margin-right: auto;
margin-left: auto;
}
.table {
border-collapse: separate;
}
.title{
    font-size: 20px;
    color:white;
}
.container_table{
	margin: 5% 5% 5% 20%;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
background-color: #eee;
}
.table thead > tr > th {
border-bottom: 1px solid #C2C2C2;
padding-bottom: 0;
}
.table tbody > tr > td {
font-size: 0.875em;
background: #f5f5f5;
border-top: 10px solid #fff;
vertical-align: middle;
padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
padding-left: 20px;
}
.table thead > tr > th span {
border-bottom: 2px solid #C2C2C2;
display: inline-block;
padding: 0 5px;
padding-bottom: 5px;
font-weight: normal;
}
.table thead > tr > th > a span {
color: #344644;
}
.table thead > tr > th > a span:after {
content: "\f0dc";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
margin-left: 5px;
font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
content: "\f0de";
}
.table thead > tr > th > a:hover span {
text-decoration: none;
color: #2bb6a3;
border-color: #2bb6a3;
}
.table.table-hover tbody > tr > td {
-webkit-transition: background-color 0.15s ease-in-out 0s;
transition: background-color 0.15s ease-in-out 0s;
}
.table tbody tr td .call-type {
display: block;
font-size: 0.75em;
text-align: center;
}
.table tbody tr td .first-line {
line-height: 1.5;
font-weight: 400;
font-size: 1.125em;
}
.table tbody tr td .first-line span {
font-size: 0.875em;
color: #969696;
font-weight: 300;
}
.table tbody tr td .second-line {
font-size: 0.875em;
line-height: 1.2;
}
.table a.table-link {
margin: 0 5px;
font-size: 1.125em;
}
.table a.table-link:hover {
text-decoration: none;
color: #2aa493;
}
.table a.table-link.danger {
color: #fe635f;
}
.table a.table-link.danger:hover {
color: #dd504c;
}

.table-products tbody > tr > td {
background: none;
border: none;
border-bottom: 1px solid #ebebeb;
-webkit-transition: background-color 0.15s ease-in-out 0s;
transition: background-color 0.15s ease-in-out 0s;
position: relative;
}
.table-products tbody > tr:hover > td {
text-decoration: none;
background-color: #f6f6f6;
}
.table-products .name {
display: block;
font-weight: 600;
padding-bottom: 7px;
}
.table-products .price {
display: block;
text-decoration: none;
width: 50%;
float: left;
font-size: 0.875em;
}
.table-products .price > i {
color: #8dc859;
}
.table-products .warranty {
display: block;
text-decoration: none;
width: 50%;
float: left;
font-size: 0.875em;
}
.table-products .warranty > i {
color: #f1c40f;
}
.table tbody > tr.table-line-fb > td {
background-color: #9daccb;
color: #262525;
}
.table tbody > tr.table-line-twitter > td {
background-color: #9fccff;
color: #262525;
}
.table tbody > tr.table-line-plus > td {
background-color: #eea59c;
color: #262525;
}
.table-stats .status-social-icon {
font-size: 1.9em;
vertical-align: bottom;
}
.table-stats .table-line-fb .status-social-icon {
color: #556484;
}
.table-stats .table-line-twitter .status-social-icon {
color: #5885b8;
}
.table-stats .table-line-plus .status-social-icon {
color: #a75d54;
}
.cart_data{
    color: black;
}
thead{
    color:white;
}
.shop_btn{
    background-color: #F6376D;
    color: white;
}
.h1tag{
    color:white;
    margin-top: 200px;
    margin-left: 400px;
}
.purchase{
    margin-top: 20px;
    margin-left: 600px;
}
.submit_pm{
    background-color: #F6376D;
}
.dropdown{
    margin: 10% 10% 1% 10%;
}
.filter_submit{
    margin:10% 10% 1% 36%;
    color:#F6376D;
}
.filter{
    color: #F6376D;
}
.tech{
    color:#F6376D;
    text-align: center;
}
.about_container{
    background-color:#263145;
	width: 880px;
	height: 600px;
	margin: 10px 20px 40px 200px;
	border-radius: 1.5em;
}